@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-bg: #e0e4e9;

  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--light-bg);
}
